/*estilização global*/
* {
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    /*scroll suave nas transições*/
    font-family: "Libre Baskerville", serif;
}


header {
    background-color: #464d3d;
    pad: 25px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    padding: 40px;
}

header img {
    width: 40px;
}

header h1 {
    font-family: "Libre Baskerville", serif;
    color: white;
}

.div-cabecalho ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div-cabecalho ul li {
    list-style: none;
}

.div-cabecalho ul li a {
    text-decoration: none;
    color: white;
    font-family: "Libre Baskerville", serif;
}


.div-cabecalho ul li a:hover{
color: black;
font-family: "Libre Baskerville", serif;
transition: 0.8s;
}


.sessao1 {
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/Foto\ Principal.jpg);
    background-size: cover;

}

.imgform{
    width: 45px;

}


.sessao1 div{
    width: 600px;
    height: 600px;
    background-color:rgba(214, 210, 210, 0.555);
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 20px black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, p {
    margin-bottom: 15px;
    font-weight: 800;
    text-align: center;
}

.inpult-email {
    background-color: white;
    color:black;
    padding: 2%;
    gap: 5px;
    border-radius: 30px;
    width: 250px;
}

.inpult-password{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2%;
    gap: 5px;
    border-radius: 30px;
    width: 250px;
}


.input-name{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2%;
    gap: 5px;
    border-radius: 30px;
    width: 250px;
}

.input-number{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2%;
    gap: 5px;
    border-radius: 30px;
    width: 250px;
}

.botao{  
    border-radius: 80px;
    width: 150px;
    height: 30px;
    cursor: pointer; /*tipo de cursor de mouse*/
}

.botao:hover{
    transition: 0.8;
}


footer {
    padding: 40px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer p {
    font-size: 25px;
    color: white;
}

footer img {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconesfooter {
    color: white;
}