* {
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    /*scroll suave nas transições*/
    font-family: "Libre Baskerville", serif;
}

.sessao1 {
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/Foto\ Principal.jpg);
    background-size: cover;

}

.sessao1 div{
    width: 400px;
    height: 400px;
    background-color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


.inpult-email {
    background-color: white;
    color: grey;
    padding: 15px;
    gap: 20px;
    border-radius: 30px;
    width: 250px;
}

.inpult-password{
    background-color: white;
    color: grey;
    padding: 15px;
    gap: 20px;
    border-radius: 30px;
    width: 250px;
}


.botao{
    border-radius: 80px;
    width: 150px;
    height: 30px;
    
}