/* inicio da segunda página */


header {
    background-color: #464d3d;
    pad: 25px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    padding: 40px;
}

header img {
    width: 40px;
}

header h1 {
    font-family: "Libre Baskerville", serif;
    color: white;
}

.div-cabecalho ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div-cabecalho ul li {
    list-style: none;
}

.div-cabecalho ul li a {
    text-decoration: none;
    color: white;
    font-family: "Libre Baskerville", serif;
}


.sessao1-form {
    background-color: #676f5e;
    padding: 130px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .sessao1-form p{
    color: white;
    font-size: large;
    font-weight: 700;
    line-height: 30px;
    background-color: #464d3d;
    padding: 10px;
    }
    
    .sessao1-form img{
        border-radius: 30px;
        width: 500px;
        height: 500px;
    }
    
    
    .sessao2-form {
    background-color: #88907e;
    padding: 180px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .divform1 {
        width: 300px;
        height: 300px;
    }

    .spandiv1{
        color: darkgreen;
    }

    .divform1 img{
        width: 300px;
        height: 300px;
    }
    
    .divform2{
        width: 300px;
        height: 300px;
    }

    .divform2 img{
        width: 300px;
        height: 300px;
    }
    
    .divform3{
        width: 300px;
        height: 300px;
    }

    .divform3 img{
        width: 300px;
        height: 300px;
    }

    

    .sessao3-form{
    background-color: #88907e;
    padding: 150px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .divform4 {
        width: 300px;
        height: 300px;
    }

    .divform4 img{
        width: 300px;
        height: 300px;
    }
    
    .divform5{
        width: 300px;
        height: 300px;
    }

    .divform5 img{
        width: 300px;
        height: 300px;
    }
    
    .divform6{
        width: 300px;
        height: 300px;
    }

    .divform6 img{
        width: 300px;
        height: 300px;
    }


    footer {
        padding: 40px;
        background-color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    
    footer p {
        font-size: 25px;
        color: white;
    }
    
    footer img {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }